devel/*
build/*
logs/*

*pyc

.catkin_tools/*
.vscode/*

src/result/*
src/data/*

install/*

tensorboard/
checkpoint/
dataset/
runs/
tmp/

*graphml
*graphml.xml
*png
*zip

py-bindings

*.pt
*.ckpt
*.ckpt*
*.obj

libtorch
moveit
test_env

__pycache__/
weights/
*.log
*.pkl
.DS_Store
.charts.yml
.jaynes.yml
*.egg-info
*.whl

other/

eval_env/
eval_res/
test_local_tree/
viz_res*/